<h2>{{restName}}</h2>

<form (submit)="submit()" [formGroup]="FeedbackForm" style="padding-left: 20%;">
    <mat-form-field appearance="fill">
        <mat-label>Dish</mat-label>
        <mat-select formControlName="food">
          <mat-option *ngFor="let dish of foodList" [value]="dish.name">{{dish.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="FeedbackForm?.controls['food']?.errors?.required">Please seleect a dish</mat-error>
      </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Rating</mat-label>
        <mat-select formControlName="rating">
            <mat-option *ngFor="let rate of rating" [value]="rate">{{rate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="FeedbackForm?.controls['rating']?.errors?.required">Please give a rating</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <mat-label>Feedback</mat-label>
        <textarea matInput formControlName="feedback" placeholder="Feedback" rows="9"></textarea>
    <mat-error *ngIf="FeedbackForm?.controls['feedback']?.errors?.required">Please enter the Feedback</mat-error>

      </mat-form-field>
      <br>
      <button mat-button type="submit">Submit</button>
    </form>