<h2>
    {{restName}}
</h2>

<form (submit)="addToCart()" [formGroup]="OrderForm" style="padding-left: 20%;">
    <mat-form-field appearance="fill">
        <mat-label>Dish</mat-label>
        <mat-select formControlName="food">
          <mat-option *ngFor="let dish of foodList" [value]="dish.name">{{dish.name}}</mat-option>
        </mat-select>
        <mat-error *ngIf="OrderForm?.controls['food']?.errors?.required">Please seleect a dish</mat-error>
      </mat-form-field>
<br>
      <mat-form-field appearance="fill">
        <mat-label>Quantity</mat-label>
        <input matInput formControlName="quantity" type="number"
        placeholder="Quantity ex. 2">
    <mat-error *ngIf="OrderForm?.controls['quantity']?.errors?.required">Please enter the quantity</mat-error>

      </mat-form-field>
      <br>
      <button mat-button type="submit">Add to Cart</button>
      <button mat-button type="button" (click)="placeOrder()">Place Order</button>
    </form>


    <div *ngIf="orderList.length > 0">
        <h3> Total Price: ${{totalPrice}} </h3>
        <br>
        <h3>Order List</h3>
        <table>
            <thead>
                <th>Order</th>
                <th>Quantity</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of orderList">
                    <td>
                        {{order.dish}}
                    </td>
                    <td>
                        {{order.quantity}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
