.bold{
    font-weight: bold;
}
td{
    padding: 10px;
}
table{
    height: 100%;
    width: 100%;
} 
.rest-card{
    height: 50%;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}

img{
    height: 90%;
}
.side-td{
    width: 70%;

}